# All
.metadata
.recommenders
.idea
out
# User-specific stuff
RemoteSystemsTempFiles
BOJ/bin
BOJ/BOJ.iml
Algorithm_OpenJDK11/.metadata
Algorithm_OpenJDK11/.recommenders
Algorithm_OpenJDK11/.idea
Algorithm_OpenJDK11/out
Algorithm_OpenJDK11/Algorithm_OpenJDK11.iml